include *.rst
include pyproject.toml
include justfile
include LICENSE
include .readthedocs.yaml
recursive-include docs *.rst
recursive-include docs *.py
recursive-include docs Makefile
recursive-include docs_tmpl *.rst
recursive-include examples *.py
recursive-include tests *.env
recursive-include tests *.ini
recursive-include tests *.py
