-e .[ini,yaml]

black==19.10b0 ; python_version >= '3.6'
check-manifest==0.42
flake8==3.8.3
pytest==6.0.1
# FIXME(willkg): later versions of Sphinx break the (ridiculous) scaffolding
# everett does to test the Sphinx extension.
Sphinx==3.0.4
tox==3.19.0
twine==3.2.0 ; python_version >= '3.6'
