version: 2
jobs:
  build:
    docker:
      - image: circleci/python:3.6.8

    working_directory: ~/repo

    steps:
      - checkout

      - run:
          name: install tox
          command: |
            python3 -m venv venv
            . venv/bin/activate
            pip install tox

      - run:
          name: run tests
          command: |
            . venv/bin/activate
            tox
